<navigation></navigation>  
<body>
<style type="text/css">
      #iconad{
        width: 200px; 
        height: 200px;
      }
      #btnSave{
        margin-left: 40px;
        margin-top: 20px;
      }
      #bt{
        color:white;
      }
  </style>

  <body>

    
<div>
    <h3 id="tit">Administration</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
         <a class="navbar-brand" href="/"><img id="iconad" src="./assets/img/logo.png"></a>
    </div>

    <div class="col-sm">
            <div class="form-group">
                <label class="control-label" for="btnCancel"></label>
                <div class="col-md-12">
                    <button id="btnCancel"  class="btn btn-primary"> <a id="bt" href="/admin/addProduct">Add Items</a></button>
                    <button id="btnCancel"  class="btn btn-primary"> <a id="bt" href="/admin/editproduct">Manage Items</a></button>
                    <button class="btn btn-success"><a id="bt" href="/admin/manageUser">Manage Users</a></button>
                </div>
            </div>
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>







  </body>

