<navigation></navigation>
<body>

    

  



    <div *ngIf="cart" class="container">
		
		<br>
		<h1>This is your cart {{cart.user}}</h1>
		
  
      <h1 class="my-4">Products in your cart:
      
        <small> {{cart.productsofPedido.length}}</small>
        
      </h1>

  
        <div class="row">   
           <div class="col-md-9">     
                <div class="orderProducts"> 
                    <div *ngFor="let product of cart.productsofPedido" class="row">
                        <div class="col-md-3" id="orderImage">
                            <a href="/product/{{id}}">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="{{product.imageUrl}}" alt="">
                            </a>
                        </div> 
                        <div class="col-md-8">
                          <h5>{{product.name}}</h5>
                            <p>{{product.description}}</p>
                            <div class="assets">
                                <label><strong>Price: </strong>{{product.price}}€</label>
                                <div class="btn-group float-md-right">
                               
                  
                  <input type="submit" (click)="Delete()"  class="btn btn-danger" value="Delete">
                   
                    		
                  

                                   
                                </div>
                             </div>
                        </div>
                   </div>
                    <br>
                    
                    <br>
                    
                    <br>

                </div>
                <br>
                <div class="orderPersonalisation">
                    <h6>Fill the fields below in case they are the different to the ones that you registered with:</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Shipping Address</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Telephone Number</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Number" aria-label="Number" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Email Address</span>
                        </div>
                        <input type="text" class="form-control" placeholder="E-mail" aria-label="Number" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="col-md-3 border border-primary" id="cartSummary">
          
                <div class="row" id="cartSummaryTitle"><h4>Cart summary:</h4></div>
                <div class="row"><p><strong>Number of products:</strong> </p></div>
                <div class="row"><p><strong>Total Price:</strong> {{cart.totalPrice}}€</p></div>
                <div class="row"><p><strong>Shipping Price:</strong> FREE</p></div>
                <div class="row"><p><strong>Status</strong> {{cart.status}}</p></div>
          

                <a class="btn btn-primary" [routerLink]="['/payment',cart.id]">Proceed to pay</a>

            </div>
        </div>
    </div>
        

     
      <br>
      <br>
      <br>



      

 
</body>
<footercomponent></footercomponent>
