<navigation></navigation>  
<!--<body>



    <form class="form-horizontal">


        <div>
            <h3 id="tit">Edit Product</h3>
        </div>
 



        <div class="container">
          <div class="row">
            <div class="col-sm">
            </div>

            <div class="col-sm">
            
         
 <select name="productnameoriginal">

    <option value={{name}}>{{name}}</option>
   
</select>
 

            <div class="form-group">
                <label class="control-label" id="lab" for="productname">Name</label>  
                <input id="productname" name="productname" placeholder="" class="form-control input-md" type="text">
            </div>

            <div class="form-group">
                <label class="control-label" id="lab" for="textinput">Price</label>  
                <input id="productprice" name="productprice" placeholder="" class="form-control input-md"  type="text">
            </div>

            <div class="form-group">
                <label class="control-label" id="lab" for="textinput">Label</label>  
                <input id="productlabe" name="productlabel" placeholder="" class="form-control input-md"  type="text">
            </div>

            <div class="form-group">
                <label class="control-label" id="lab" for="textarea">Description</label>
                <textarea class="productdescription" id="productdescription" name="textarea"></textarea>
            </div>
			<div class="form-group">
				<form action="/image/upload" method="post"enctype="multipart/form-data" id="form-image">
					<div>
						<input type="file" name="file" id="input-image" />
						<input type="hidden" name="_csrf" value="{{token}}"/>
						<button type="submit" class="btn btn-primary btn-lg uploadImg">Change Image</button>
					</div>
				</form>
			</div>


            <div class="form-group">
                <label class="control-label" for="btnCancel"></label>
                <div class="col-md-8">
                    
                    <button id="btnSave" name="btnSave" class="btn btn-success">Save</button>
                 </form>
                  
                </div>
            </div>
        </div>
        
            <div class="col-sm">
            
             
   
            </div>
          </div>
        </div>
<a href="/admin"><button class="btn btn-primary">Cancel</button></a>
    


  </body>

-->
<footercomponent></footercomponent>