<navigation></navigation>
<body>

<!--    
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img id="icon" src="../img/logo.png">SHOPPAHOLIC</a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img id="icon" src="../img/menuicon.png"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                 <form class="field" action="../search" id="searchform" method="post">
                    <input type="text" name="searchtext" id="searchterm" placeholder=" What are you searching for?"/>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button type="submit" id="search">Search</button>
                </form>



            </div>
        </div>
    </nav>
-->
        


    
				<div class="container">
                    <div class="row">
                        <div class="col-sm">
                        </div>

                        <div class="col-sm">
                            <div>
                                <h3 id="tit">Log In</h3>
                            </div>
                        <div class="form-group">
                            <form action="/logIn "id="formulario" autocomplete="on" method="post">
                                <p><label for="email" class="control-label" id="lab" for="textinput"> Email   </label>  
                                 <input #email id="email" name="email" required="required" type="text" placeholder="email" /> </p>
                            
                        <!-- Text input-->
                            <p>
                                <label for ="password" class="control-label" id="lab" for="textinput">Password</label>  
                                <input #password id="password" name="password" required="required" type="password" placeholder="************" /></p>

                                       
                           
                            	<label>
				    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
				    	    	</label>
                                
                            	<button class="btn btn-primary" type="submit" (click)="logIn($event, email.value, password.value)">Log In</button>	
                            	
                            	</form>
                            	<p>Not a member?</p>    <a  [routerLink]="['/signUp']" class="btn btn-primary" style="margin-left: 0px">Sign up</a>
                            </div>
                        </div>
                        <div class="col-sm">
                          
                        </div>
                	</div>
            	</div>
           

    
    </body>
    <footercomponent></footercomponent> 