<navigation></navigation>
<body>
    
    
				<div class="container">
                    <div class="row">
                        <div class="col-sm">
                        </div>

                        <div class="col-sm">
                            <div>
                                <h3 id="tit">Log In</h3>
                            </div>
                        <div class="form-group">
                            <form *ngIf="!loginService.isLogged" action="/logIn "id="formulario" autocomplete="on" method="post">

                                <label for="email" class="control-label" id="lab" for="textinput"> Email</label>  
                                <input #user type="email" id="email" name="email" placeholder="" required="required" class="form-control input-md" type="text">
                            
                        <!-- Text input-->
                            
                                <label for ="password" class="control-label" id="lab" for="textinput">Password</label>  
                               <input #pass id="password" name="password" required="required" type="password" class="form-control input-md" placeholder="************" />

                                       
                           
                            	<!--<label>
				    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
				    	    	</label>-->
                          
                            	<button type="submit" (click)="logIn($event, user.value, pass.value)"  href="/" value="Login" class="btn btn-primary">LogIn </button>                      
                            	 <input type="hidden" name="_csrf" value="{{token}}"/>
                            	
                            	</form>
                            	<p>Not a member?</p>    <a  [routerLink]="['/signUp']" class="btn btn-primary" style="margin-left: 0px">Sign up</a>
                            </div>
                        </div>
                        <div class="col-sm">
                          
                        </div>
                	</div>
            	</div>
           

    
    </body>
    <footercomponent></footercomponent> 