<navigation></navigation>
<body>


    
				<div class="container">
                    <div class="row">
                        

                        <div class="col-sm">
                            <div>
                                <h3 id="tit">Log In Error</h3>
                                <p>Invalid user or password</p>                      
                            <div>
                                    <br>
                                <a [routerLink]="['/login']"><button class="btn btn-primary" >Back</button></a>
                            	
                            </div>
                            </div>
                        <div class="col-sm">
                          
                        </div>
                	</div>
            	</div>
            </div>
     
	

    
    </body>
    <footercomponent></footercomponent> 
