
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">

        <a class="navbar-brand" [routerLink]="['/home']"><img id="icon" src="assets/img/logo.png">SHOPPAHOLIC</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img id="icon" src="assets/img/menuicon.png"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
             <form class="field" action="../search" id="searchform" method="post">
                <input type="text" name="searchtext" id="searchterm" placeholder=" What are you searching for?" [(ngModel)]="searchtext"/>
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <button type="submit" id="search" (click)="search()">Search</button>
            </form>


            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/login']" class="nav-link" >Log In<img id="icon" src="assets/img/userIcon.png"></a>
                </li>
            </ul>

            <!-- 
            
            

           --> 

<!-- parte de los usuarios. si es pag de error o login, no mostrar esos 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
-->

                        
                <!-- si le usuario no esta registrado
                {{^user}}
                    <a class="nav-link" href="/userprofile">Log In<img id="icon" src="../img/userIcon.png"></a>
                {{/user}}
                -->

                <!--
                {{#user}}
                    <a class="nav-link" href="/userprofile/{{id}}">My Profile<img id="icon" src="../img/userIcon.png"></a>
                {{/user}}
                </li>

                <li class="nav-item">
                {{#user}}
                    <a class="nav-link" href="/cart">My Cart<img id="icon" src="../img/carrito.png"></a>
                {{/user}}
                </li>
            </ul>
            -->

        </div>
    </div>
</nav>