    <!-- Page Content -->
    <div class="container">
	{{#pedido}}
	<br>
	<h1>Order ID : {{id}}</h1>
	<h3>Status: {{status}}</h3>
	<h3>Price: {{totalPrice}}</h3>
	{{/pedido}}
      <!-- Page Heading -->
      <h2 class="my-4">Order Products: 
        <small>{{cantidad}}</small>
      </h2>


{{#productos}}
      <!-- Project One -->
      <div class="row" >
        <div class="col-md-3" id="orderImage">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src={{imageUrl}} alt="">
            </a>
        </div>
        <div class="col-md-8">
          <h5>{{name}}</h5>
            <p>{{description}}</p>
            <p>{{label}}</p>
            <div class="assets">
                <label><strong>Price: </strong>{{price}}€</label>
                <a class="btn btn-outline-secondary float-md-right" href="/product/{{id}}">View</a>
            </div>
        </div>
    </div>
 {{/productos}}  
   
      <hr>



    </div>
    <!-- /.container -->


  </body>

</html>
