<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <head>
  
  	<script type="text/javascript" src="jquery-1.8.3.js"></script>
	<script type="text/javascript">
		document.onreadystatechange = function () {
			  var state = document.readyState
			  if (state == 'interactive') {
			       document.getElementById('contents').style.visibility="hidden";
			  } else if (state == 'complete') {
			      setTimeout(function(){
			         document.getElementById('interactive');
			         document.getElementById('load').style.visibility="hidden";
			         document.getElementById('contents').style.visibility="visible";
			      },1000);
			  }
			}
	</script>



  </head>

  <body>


    <!-- Page Content -->
    <div id="load"></div>
    <div id="contents" class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Results by search: 
        <small> {{searchtext}}</small>
      </h1>
	
	
	
      <div class="row">
      {{#products}}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/product/{{id}}"><img class="card-img-top" src={{imageUrl}} alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/product/{{id}}">{{name}}</a>
              </h4>
              <p class="card-text">{{description}}</p>
              <p class="card-text">{{price}}€</p>
            </div>
          </div>
        </div>
           {{/products}}
           
           {{#productslabel}}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/product/{{id}}"><img class="card-img-top" src={{imageUrl}} alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/product/{{id}}">{{name}}</a>
              </h4>
              <p class="card-text">{{description}}</p>
              <p class="card-text">{{price}}€</p>
            </div>
          </div>
        </div>
           {{/productslabel}}
      </div>
      

      <!-- /.row -->

      <!-- Pagination -->
      <!-- Pagination -->
      <ul class="pagination justify-content-center">
      	{{#more}}
        <li class="page-item">
          <a class="page-link" href="/search/{{searchtext}}/loadMore/{{nextPage}}">Load More</a>
        </li>
        {{/more}}
        {{^more}}
        <li class="page-item">
          <a class="page-link">No More Results</a>
        </li>
        {{/more}}
      </ul>

    </div>
    <!-- /.container -->



  </body>

  <!-- ejemplo10 buscar libros en google
    
    <input #title type="text"><button (click)="search(title.value); title.value=''">Buscar</button>

    <p *ngFor="let book of books">{{book}}</p>

   -->



</html>
