
<navigation></navigation>
<!--
  <head>
  
  	<script type="text/javascript" src="jquery-1.8.3.js"></script>
	<script type="text/javascript">
		document.onreadystatechange = function () {
			  var state = document.readyState
			  if (state == 'interactive') {
			       document.getElementById('contents').style.visibility="hidden";
			  } else if (state == 'complete') {
			      setTimeout(function(){
			         document.getElementById('interactive');
			         document.getElementById('load').style.visibility="hidden";
			         document.getElementById('contents').style.visibility="visible";
			      },1000);
			  }
			}
	</script>



  </head>
-->

  <body>


    
   
    <div id="contents" class="container">

      <h1 class="my-4">Results by search: 
        <small> {{searchtext}}</small>
      </h1>
	

	
      <div class="row">
     	
        <div *ngFor="let product of products "class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div>
          <div  class="card h-100">
            <a [routerLink]="['/product',product.id]"><img class="card-img-top" src={{product.imageUrl}} alt=""></a>
            <div class="card-body">
                
              <h4 class="card-title">
                <a [routerLink]="['/product',product.id]">{{product.name}}</a>
              </h4>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text">{{product.price}}€</p>
            </div>
          </div>
                </div>
        </div><!--
           {{/products}}
           
           {{#productslabel}}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/product/{{id}}"><img class="card-img-top" src={{imageUrl}} alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/product/{{id}}">{{product.name}}</a>
              </h4>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text">{{product.price}}€</p>

            </div>
          </div>
        </div>--> 
            
   
      



   </div>

	
      <div class="row">
     	
        <div *ngFor="let product of productmore "class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div>
          <div  class="card h-100">
            <a [routerLink]="['/product',product.id]"><img class="card-img-top" src={{product.imageUrl}} alt=""></a>
            <div class="card-body">
                
              <h4 class="card-title">
                <a [routerLink]="['/product',product.id]">{{product.name}}</a>
              </h4>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text">{{product.price}}€</p>
            </div>
          </div>
                </div>
        </div>
               <div *ngIf="more">   
        

      <ul class="pagination justify-content-center">
    
        <li class="page-item">
          <a class="page-link" (click)="loadMore(searchtext)">Load More</a>
        </li>
          

   <div *ngIf="!more">   
        
        <li class="page-item">
          <a class="page-link">No More Results</a>
        </li>
     
       </div> 
      </ul>
  
    </div>
        </div>
  

  <!-- ejemplo10 buscar libros en google
    
    <input #title type="text"><button (click)="search(title.value); title.value=''">Buscar</button>

    <p *ngFor="let book of books">{{book}}</p>

  

-->


        
</div>
     
       

   <footercomponent></footercomponent> 
