
<!--<signUpComponent></signUpComponent>-->
<navigation></navigation>


<body>
        

	<div class="container">
        <div class="row">
            <div class="col-sm"></div>

            <div class="col-sm">
                <div>
                    <h3 id="tit">Sign Up</h3>
                </div>

                
                <div class="form-group">
                <form action="/register" enctype="/multipart/form-data" id="formulario" autocomplete="on" method="post">
                    <label class="control-label" id="lab" for="textinput">First Name</label>  
                    <input #firstname id="firstname" name="firstname" placeholder="" required="required" class="form-control input-md" type="text">

                    <label class="control-label" id="lab" for="textinput">Last Name</label>  
                    <input #lastname id="textinput" name="lastname" placeholder="" required="required"  class="form-control input-md" required="" type="text">
                   
                    <label class="control-label" id="lab" for="textinput">Email Address</label> 
                    <input #email id="textinput" name="email" placeholder="" required="required"  class="form-control input-md" required="" type="text">
                    
                    <label class="control-label" id="lab" for="textinput">Password</label>
                    <input #password id="textinput" name="password" placeholder="" required="required" type="password"  class="form-control input-md" required="" type="text">
	
	 				<label class="control-label" id="lab" for="textarea">Address</label>
                    <textarea #address class="form-control" id="textarea" required="required"  name="address"></textarea>
                                
                    <label class="control-label" id="lab" for="textinput">Telephone</label>  
                    <input #telephone id="textinput" name="telephone" placeholder="" required="required"  class="form-control input-md" required="" type="text">
                    <br>
                               			
					<input type="file" name="file" value="file" id="input-image" />
									
								
                    <br>
                    <br>

                

                    <label class="control-label" for="btnCancel"></label>

                    <button type="submit" (click)="signUp($event, firstname.value, lastname.value, email.value, password.value, address.value, telephone.value)"  href="/" class="btn btn-primary">Register </button>                      
                    
                            	
               <!--
                    <input type="submit"  href="/" value="Register" class="btn btn-primary">  

                    <input type="hidden" name="_csrf" value="{{token}}"/>
               -->
                </form>
                </div>
            
            </div>
                    <div class="col-sm"></div>
        </div>
    </div>

    </body>

    <footercomponent></footercomponent> 

