
<div class="col-lg-3 portfolio-item  pull-left">
                <h4 style="padding-bottom: 5px">January's best products</h4>
           
                <div *ngFor="let product of topproducts" class="row">
                    AQUI ARREGLAR PARA ANGULAR {{product.name}}
               <!--
                  <a [routerLink]="['/product',productx.id]" class="list-group-item list-group-item-action">
                        <img class="img-fluid col-lg-4" src="{{product.imageUrl}}">{{product.name}}
                    </a>-->
                 
                </div>
</div>