<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<context:annotation-config />

	<context:component-scan base-package="com.shoppaholic.shoppaholic.controllers.mailServiceController" />

	<!--#lectura del fichero administrable  -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders">
			<value>true</value>
		</property>
		<property name="locations">
			<list>
				<value>classpath:app.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	  <property name="host" value="${mail.host}"/>
	  <property name="port" value="${mail.port}"/>
	  <property name="username" value="${mail.username}"/>
	  <property name="password" value="${mail.password}"/>
	  <property name="defaultEncoding" value="UTF-8"/>
	</bean>

	<bean id="mailService" class="com.shoppaholic.shoppaholic.mail.mailService">
	  <property name="active" value="true"/>
	  <property name="mailSender" ref="mailSender"/>
	  <property name="from" value="shoppaholic.salesdepartment@gmail.com"/>
	</bean>
	
</beans>