<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shoppaholic</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../img/logo.png" />
    <!-- Custom styles for this template -->
    <link href="../css/modern-business.css" rel="stylesheet">

</head>

<body>


    <!-- ************************** Navigation ************************************** -->

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img id="icon" src="../img/logo.png">SHOPPAHOLIC</a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img id="icon" src="../img/menuicon.png"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                 <form class="field" action="search" id="searchform" method="post">
                    <input type="text" name="searchtext" id="searchterm" placeholder=" What are you searching for?" />
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button type="submit" id="search">Search</button>
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/userprofile">My Profile<img id="icon" src="../img/userIcon.png"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">My Cart<img id="icon" src="../img/carrito.png"></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>


            <!-- ******************************* Carousels ********************************* -->

            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->

                <div class="carousel-item active" style="background-image: url(../img/librosSlider.png)">
                    <a href="">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Don't just read</h3>
                            <p>Best prices for best sellers</p>
                        </div>
                    </a>
                </div>

                <!-- Slide Two - Set the background image for this slide in the line below -->

                <div class="carousel-item" style="background-image: url(../img/smartphonesSlider.png)">
                    <a href="">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Smartphone Revolution</h3>
                            <p>Technology in your hands</p>
                        </div>
                    </a>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url(../img/moviesSlider.png)">
                    <a href="">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Cinema at home</h3>
                            <p>Best movies at best prices</p>
                        </div>
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container-fluid">

        <h3 class="my-4">Our products</h3>
       
     
        <!-- Marketing Icons Section -->
        <div id="product-list1" class="row">
         {{#products}}
            <div class="col-lg-3 portfolio-item">
                <div id="product-card" class="card h-100">
                    <div class="card-header">
                    	<a href="/product/{{id}}">
                        <img id="card-image" src={{imageUrl}} class="card-img-top">
                        </a>
                    </div>
                    <div class="card-block">
                        <h6 class="card-title" style="padding-top:12px">{{name}}</h6>
                        <p class="card-text">{{description}}</p>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-5">
                                    <a href="/product/{{id}}" class="btn btn-primary">Check it!</a>
                                </div>
                                <div class="col-md-7">
                                    <h2 id="card-price">{{price}}€</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/products}}  
            </div>
            
            
           
            
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row" style="padding-left: 20px; padding-bottom: 20px">
            <div class="col-lg-8">
                <div>
                <h4 style="padding-bottom: 5px">Our recomendations</h4>
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
            </ol>


            <!-- ******************************* Carousels ********************************* -->

            <div class="carousel-inner portfolio-item" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->

                <div class="carousel-item active" style="background-image: url(../img/camara.png)">
                    <a href="/product">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Sony Alpha 6000</h1>
                            <p>Not digital, not reflex; mirrorless is the solution</p>
                        </div>
                    </a>
                </div>

                <!-- Slide Two - Set the background image for this slide in the line below -->

                <div class="carousel-item" style="background-image: url(../img/iphonex.png)">
                    <a href="/product" >
                        <div class="carousel-caption d-none d-md-block">
                            <h1>iPhone X</h1>
                            <p>The next-level of the next-level smartphones </p>
                        </div>
                    </a>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url(../img/mercurial.png)">
                    <a href="/product" >
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Mercurial Puro Fenomeno</h1>
                            <p>Go on the pitch wtih Neymar's electricity</p>
                        </div>
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
                </div>
            </div>
            <div class="col-lg-3 portfolio-item  pull-left">
                <h4 style="padding-bottom: 5px">January's best products</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <img class="img-fluid col-lg-6" src="http://placehold.it/350x200">Product
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <img class="img-fluid col-lg-6" src="http://placehold.it/350x200">Product
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <img class="img-fluid col-lg-6" src="http://placehold.it/350x200">Product
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <img class="img-fluid col-lg-6" src="http://placehold.it/350x200">Product
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <img class="img-fluid col-lg-6" src="http://placehold.it/350x200">Product
                    </a>
                    
                </div>
            </div>

        </div>
        </div>
        <!-- /.row -->

        
        <!-- Portfolio Section -->
        <h2>Categories</h2>



        <div class="row" style="padding: 15px">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-50">
                    <a href="/search"  ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-50">
                    <a href="/search"  ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-50">
                    <a href="/search"  ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-50">
                    <a href="/search"  ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-50">
                    <a href="/search"  ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-50">
                    <a href="/search" ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                </div>
            </div>
        </div>
        <!-- /.row -->

        
        <hr>

        <!-- Call to Action Section -->
        

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5">
        <div class="container">
            <p class="m-0 text-center text-white">Shoppaholic 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
