<!DOCTYPE html>
<html lang="en">

 <head>

  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  	<title>Shoppaholic</title>

 <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../img/logo.png"/>
    <!-- Custom styles for this template -->
    <link href="../css/modern-business.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img id="icon" src="../img/logo.png">SHOPPAHOLIC</a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img id="icon" src="../img/menuicon.png"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                 <form class="field" action="../search" id="searchform" method="post">
                    <input type="text" name="searchtext" id="searchterm" placeholder=" What are you searching for?"/>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button type="submit" id="search">Search</button>
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/userprofile">My Profile<img id="icon" src="../img/userIcon.png"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">My Cart<img id="icon" src="../img/carrito.png"></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

        <form class="form-horizontal">


    
				<div class="container">
                    <div class="row">
                        

                        <div class="col-sm">
                            <div>
                                <h3 id="tit">Log In Error</h3>
                
                            
                        
                       
                            <div>
                                <a href ="/login"><button class="btn btn-primary" >Back</button></a>
                            	
                            </div>
                            </div>
                        <div class="col-sm">
                          
                        </div>
                	</div>
            	</div>
            </div>
            </form>
	
	<footer class="py-5">
      <div class="container">
        <p class="m-0 text-center text-white">Shopaholic 2018</p>
      </div>
      <!-- /.container -->
    </footer>
	

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    </body>
</html>